@import "style.css";
@import "modal.css";

#cart {
  h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gapBig);
  }

  li {
    list-style: none;
    
      article {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: var(--gapSmall);

          button {
           justify-self: center;
         }
      }

      img {
        height: 250px;
        object-fit: contain;
      }

      a + a {
        font-family: var(--fontBody);
        text-decoration: none;
        color: var(--colorJet);

      }

      .product-quantity {
        display: flex;
        align-items: center;


        span {
          margin: 0 10px;
        }
      }
    }
}

.cart-summary {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .btn-checkout {
       background-color: var(--colorAccent);
       color: var(--colorWhite);
       width: fit-content;
       padding: 0.5rem 1rem;
       border: var(--borderSize) solid var(--colorDarkGrey);
    }
}

.cart-total span {
  font-weight: bold;
}

@media (min-width: 768px) { 
  #cart {
      .product {
        border: none;
        display: grid;
        grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        border-bottom: var(--borderSize) solid var(--colorJet);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
  }
}