@import "style.css";
@import "modal.css";

#cart {
  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  li {
    list-style: none;
    .product {
      border: none;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
      align-items: center;
      border-bottom: var(--borderSize) solid var(--colorJet);
      padding-bottom: 20px;
      margin-bottom: 20px;
      img {
        height: 250px;
        object-fit: contain;
      }

      a + a {
        text-decoration: none;
        color: var(--colorJet);

      }

      .product-quantity {
        display: flex;
        align-items: center;


        span {
          margin: 0 10px;
        }
      }
    }
  }
}

.cart-summary {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5%;

    .btn-checkout {
       background-color: var(--colorAccent);
       color: var(--colorWhite);
       width: fit-content;
       padding: 0.5rem 1rem;
       border: var(--borderSize) solid var(--colorDarkGrey);
    }
}

.cart-total {
  font-weight: bold;
}

