@import "style.css";
@import "modal.css";

#cart {
  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  li {
    list-style: none;
    .product {
      border: none;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
      align-items: center;
      border-bottom: var(--borderSize) solid var(--colorJet);
      padding-bottom: 20px;
      margin-bottom: 20px;
      img {
        height: 250px;
        object-fit: contain;
      }
      .product-quantity {
        display: flex;
        align-items: center;


        span {
          margin: 0 10px;
        }
      }
    }
  }
}

.cart-summary {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.cart-total {
  font-weight: bold;
}

