#cart {
  h2 {
    margin-bottom: 40px;
  }
  li {
    list-style: none;
    .product {
      border: none;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      align-items: center;
      border-bottom: 1px solid black;
      padding-bottom: 20px;
      margin-bottom: 20px;
      img {
        height: 250px;
        object-fit: contain;
      }
      button {
        height: 20px;
      }
    }
  }
}


.cart-summary {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.cart-total {
  font-weight: bold;
}

.cart-summary button {
  height: 20px;
}
