@import "style.css";
@import "modal.css";

#cart {
  h1 {
    margin-bottom: var(--spacing-2-5);
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gapBig);

    li {
    list-style: none;
    
      article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: var(--gapMedium);
        border-bottom: var(--borderSize) solid var(--colorJet);
        padding-bottom: var(--spacing-1-5);
        margin-bottom: var(--spacing-1-5);

        img {
          max-width: var(--productImgMaxWidthMobile);
          object-fit: contain;
        }

        a + a {
          font-family: var(--fontBody);
          text-decoration: none;
          color: var(--colorJet);
        }

        .product-quantity {
          display: flex;
          align-items: center;

          span {
            margin: 0 var(--spacing-0-75);
          }
        }
      }
    }
  }

  .cart-summary {
    margin-top: var(--spacing-0-75);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-total span {
      font-weight: bold;
    }
  }
}

@media (min-width: 768px) {
  #cart {
    .product {
      display: grid;
      grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
      align-items: center;
      text-align: center;
    }
  }
}
