@import "style.css";
@import "modal.css";

#checkout {
  max-width: 800px;
  margin-inline: auto;

    h1 {
    text-align: center;
    margin-bottom: var(--spacing-1);
    }

    #checkout-form {
    max-width: 720px;
    margin: var(--spacing-1) auto var(--spacing-3);

    fieldset {
      border: var(--borderSize) solid var(--colorDarkGrey);
      border-radius: var(--spacing-0-75);
      padding: var(--spacing-1) var(--spacing-1) var(--spacing-1-5);
    }

    legend {
      padding: 0 var(--spacing-0-5);
    }

    label {
      display: block;
      text-align: left;
      margin-top: var(--spacing-0-75);
    }

    input[type="text"] {
      width: 100%;
      padding: var(--spacing-0-75);
      margin: var(--spacing-0-5) 0;
      border: var(--borderSize) solid var(--colorDarkGrey);
      border-radius: var(--borderRadiusMedium);
      background: var(--colorWhite);
      color: var(--colorJet);
    }

    input:focus {
      outline: none;
      border-color: var(--colorAccent);
    }

    fieldset:focus-within {
      border-color: var(--colorAccent);
    }
  }
}
