@import "style.css";
@import "modal.css";

main {

    .breadcrumb {
    padding-inline: var(--spacing-1-5);
    margin-bottom: var(--spacing-1-5);
    }

    #product-info {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-0-5) var(--spacing-1);

      img {  
        align-self: center;
        max-width: var(--productImgMaxWidthMobile);
      }

      .product-attribute {
        margin: var(--spacing-0-75) 0;
      }

      h1 {
        padding-top: var(--spacing-0-75);
        font-size: 1.5rem;
      }

      .product-price {
        font-size: 1.15rem;
      }
    }
}

@media (min-width: 768px) {
  main {

    #product-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gapBig);
        padding: 0.5rem 1rem 1rem;

        img {
          max-width: var(--productImgMaxWidthDesktop);
        }

        section {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 2rem;
          }

          .product-price {
            font-size: 1.25rem;
          }
        }
    }
  }
}
