@import "style.css";
@import "modal.css";

#signup-form {
  max-width: 420px;
  margin: 4.5rem auto 6rem;
  text-align: center;

    label {
      display: block;
      text-align: left;
      margin-top: var(--spacing-0-75);
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: var(--spacing-0-75) var(--spacing-1);
      margin: var(--spacing-0-5) 0;
      border: var(--borderSize) solid var(--colorDarkGrey);
      border-radius: var(--borderRadiusMedium);
      background: var(--colorWhite);
    }

    input:focus {
      outline: none;
      border-color: var(--colorDarkGrey);
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    }
    
    .btn {
      margin-top: var(--spacing-0-75);
    }

    p {
      margin-top: var(--spacing-1);
    }

    a {
      text-decoration: underline;
    }
}
