@import 'style.css';

:root {
    --gap: 2rem;
}

 main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: 1rem;

    img {
        align-self: center;
        max-width: 350px;

    }

    section {
        display: flex;
        flex-direction: column;
         
        .product-attribute {
            padding: 0.5rem 0;
        }

        h2 {
            font-size: 1.5rem;
        }

        .product-price {
            font-size: 1rem;
        }

        button {
            width: fit-content;
            padding: 0.5rem 1rem;
        }
    }
}

@media (min-width: 768px) {

    main {
        display: flex;
        flex-direction: row;
    }
}