@import 'style.css';

:root {
    --gap: 2rem;
}

 main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 0.5rem 1rem 1rem;
    
    img {
        max-width: 250px;
        align-self: center;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
         
        .product-attribute {
            margin: 0.5rem 0;
        }

        h2 {
            font-size: 1.5rem;
        }

        .product-price {
            font-size: 1.15rem;
        }

        button {
            width: fit-content;
            padding: 0.5rem 1rem;
        }
    }
}

@media (min-width: 768px) {

    main {
        display: flex;
        flex-direction: row;
        padding: 10rem 0;
        gap: 5rem;
        padding: 0.5rem 2rem 1rem;

        img {
            max-width: 350px;
        }

        section {

            gap: 1rem;

                h2 {
                font-size: 2rem;
                }

                .product-price {
                font-size: 1.25rem;
                }
        }
    }
}

