@import 'variables.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

    main {
       position: relative;
       top: 0;
       max-width: 1050px;
       margin-inline: auto;
    }
}

img {
    width: 100%;
    height: auto; 
}

.hidden {
    display: none;
}
