@import "variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  background-color: var(--colorBg); 

  h1 {
    font-family: var(--fontTitle);
  }

  h2 {
    font-family: var(--fontTitle);
    font-size: 1rem;
    line-height: 1.3;
  }

  p, span {
    font-family: var(--fontBody);
  }

  main {
    position: relative;
    top: 0;
    max-width: var(--maxWidthMobile);
    margin-inline: auto;

      @media only screen and (min-width: 768px) {
           max-width: var(--maxWidthDekstop);
        }
  }

  a {
      text-decoration: none;
      color: var(--colorJet);
    }

  header {
    padding: var(--spacing-1) 0 var(--spacing-0-5);

    img {
      width: 50px;
      height: auto;
    }
  }

  nav ul {
    display: flex;
    gap: var(--gapMedium);
    list-style: none;
  }

  nav a {
    color: inherit;
    font-family: var(--fontBody);

    img {
      width: 25px;
      height: auto;
    }
  }

  nav a:hover {
  text-decoration: underline;
}

  .btn, .btn-close {
    font-family: var(--fontBody);
    font-size: var(--spacing-1);
    background-color: var(--colorAccent);
    color: var(--colorWhite);
    width: fit-content;
    padding: 0.5rem 1rem;
    border: var(--borderSize) solid var(--colorDarkGrey);
  }
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

footer {
  margin-top: var(--spacing-2-5);
  padding: var(--spacing-1) 0;
  text-align: center;
  font-size: 0.85rem;
  color: var(--colorDarkGrey);
  background-color: var(--colorBrand);
  border-top: var(--borderSize) solid var(--colorDarkGrey);
}

.footer-social ul {
  justify-content: center;
}

.footer-social a img {
  width: 28px;
  height: auto;
  margin-bottom: var(--spacing-1);
}

.main-header {
  background-color: var(--colorBrand);
  padding: var(--spacing-1) 0 var(--spacing-0-5);
  margin-bottom: var(--spacing-2);

  .header-inner {
    display: flex;
    align-items: center;
    gap: var(--gapMedium);
    max-width: var(--maxWidthDekstop);
    width: 100%;
    margin-inline: auto;

      .main-navigation ul,
      .utility-navigation {
        margin-left: auto;

          a.active {
            font-weight: bold;
            text-decoration: underline;
          }
      }

      ul {
        display: flex;
        gap: var(--gapMedium);
        list-style: none;
      }

      > a img {
        width: 50px;
        height: auto;
      }
  }
}

.header-inner,
main,
footer {
  padding-inline: var(--spacing-1);
}

main {
  max-width: var(--maxWidthDekstop);
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .header-inner,
  main,
  footer {
    padding-inline: var(--spacing-1-5);
  }
}
