@import "variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  background-color: var(--colorBg); 

  h1 {
    font-family: var(--fontTitle);
  }

  h2 {
    font-family: var(--fontTitle);
    font-size: 1rem;
    line-height: 1.3;
  }

  p, span {
    font-family: var(--fontBody);
  }

  main {
    position: relative;
    top: 0;
    max-width: var(--maxWidthMobile);
    min-height: 65vh;
    margin-inline: auto;

      @media only screen and (min-width: 768px) {
           max-width: var(--maxWidthDekstop);
        }
  }

  a {
      text-decoration: none;
      color: var(--colorJet);
    }

  header {
    padding: 16px 0 8px;

    img {
      width: 50px;
      height: auto;
    }
  }

  nav ul {
    display: flex;
    gap: var(--gapMedium);
    list-style: none;
  }

  nav a {
    color: inherit;
    font-family: var(--fontBody);

    img {
      width: 25px;
      height: auto;
    }
  }

  nav a:hover {
  text-decoration: underline;
}

  button {
    font-family: var(--fontBody);
    background-color: var(--colorAccent);
    color: var(--colorWhite);
    width: fit-content;
    padding: 0.5rem 1rem;
    border: var(--borderSize) solid var(--colorDarkGrey);
  }
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

footer {
  margin-top: 40px;
  padding: 16px 0;
  text-align: center;
  font-size: 0.85rem;
  color: #555;
  background-color: var(--colorBrand);
  border-top: var(--borderSize) solid var(--colorDarkGrey);
}

.footer-social ul {
  justify-content: center;
}

.footer-social a img {
  width: 28px;
  height: auto;
  margin-bottom: 16px;
}

fieldset {
  padding: 16px;
  margin-bottom: 16px;
  border: var(--borderSize) solid var(--colorWhite);
  border-radius: 4px;
  margin: 20px 0;
}

fieldset input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.main-header {
  background-color: var(--colorBrand);
  padding: 16px 0 8px;
  margin-bottom: 32px;
  .header-inner {
    display: flex;
    align-items: center;
    gap: var(--gapMedium);
    max-width: var(--maxWidthDekstop);
    width: 100%;
    margin-inline: auto;
    .main-navigation ul,
    .utility-navigation {
      margin-left: auto;
      a.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    ul {
      display: flex;
      gap: var(--gapMedium);
      list-style: none;
    }
    > a img {
      width: 50px;
      height: auto;
    }
  }
}

.header-inner,
main,
footer {
  padding-inline: 16px;
}

main {
  max-width: var(--maxWidthDekstop);
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .header-inner,
  main,
  footer {
    padding-inline: 24px;
  }
}
