/* HVIS VI IMPORTEDE SKULLE VI HUSKE KUN AT IMPORTERE DE FONTS OG WEIGHT VI BRUGER */

:root {
    --colorBrand: #A3B18A;
    --colorAccent: #334d33; 
    --colorBg: #f7f9f5;
    --colorWhite: #FFFFFF;
    --colorJet: #080808;
    --colorDarkGrey: #474747;

    --fontTitle: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --fontBody: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

    --maxwidth: 1024px;
    --borderSize: 0.5px;
}