:root {

    --fontTitle: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --fontBody: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 


    --colorBrand: #A3B18A;
    --colorAccent: #334d33; 
    --colorBg: #f7f9f5;
    --colorWhite: #FFFFFF;
    --colorJet: #080808;
    --colorDarkGrey: #474747;

    --maxWidthDekstop: 1024px;
    --maxWidthMobile: 600px;
    --borderSize: 0.5px;
    --borderRadiusBig: 12px;
    --borderRadiusMedium: 10px;
    --borderRadiusSmall: 4px;
    --gapSmall: 0.5rem;
    --gapMedium: 1rem;
    --gapBig: 2rem;

    --productImgMaxWidthMobile: 200px;
    --productImgMaxWidthDesktop: 300px;
}