/* HVIS VI IMPORTEDE SKULLE VI HUSKE KUN AT IMPORTERE DE FONTS OG WEIGHT VI BRUGER */

:root {
    --colorBrand: #A3B18A;
    --colorAccent: #5C412E; 
    --colorBg: #FAF9F7;
    --colorWhite: #FFFFFF;
    --colorJet: #2E2E2E;

    --fontTitle: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --fontBody: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

    --maxwidth: 1024px
}