/* HVIS VI IMPORTEDE SKULLE VI HUSKE KUN AT IMPORTERE DE FONTS OG WEIGHT VI BRUGER */

:root {
    --colourBgMain: #414833;
    --colourBgComplementary: floralwhite;
    --colourBgNav: #656D4A;

    --fontTitle: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --fontBody: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

    --maxwidth: 1024px
}